body,
h1 {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: #4e81b4;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.navBarColor {
  background-color: inherit;
}

.card {
  background-color: #3176ba;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: antiquewhite;
}
